.translate-controls {
    padding-top: 15px;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    display: inline-block;
}

.center .translate, .center .translate.lang-button:nth-of-type(2) {
    font-size: 23px;
    color: rgba(255, 255, 255, 0.95);
    border-color: rgba(139,139,139,0.75);
    border-style: solid;
    margin-left: 60px;
    background-color: #166DA2;
}

.center .translate, .center .translate.lang-button:active {
    border-color: rgba(255, 2555, 255, 0.75);
    -webkit-box-shadow: inset 0px 0px 7px rgb(133, 133, 133);
       -moz-box-shadow: inset 0px 0px 7px rgb(133, 133, 133);
            box-shadow: inset 0px 0px 7px rgb(133, 133, 133);
     outline: none;
}
