.translate-controls {
    padding-top: 15px;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    display: inline-block;
}

.center .translate, .center .translate.lang-button:nth-of-type(2) {
    font-size: 23px;
    color: rgba(255, 255, 255, 0.95);
    border-color: rgba(139,139,139,0.75);
    border-style: solid;
    margin-left: 60px;
    background-color: #166DA2;
}
