.translate-controls {
    padding-top: 15px;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    display: inline-block;
}